@font-face {
    font-family: 'Styrene A Web';
    src: local('Styrene A Web Medium'), local('Styrene-A-Web-Medium'),
        url('assests/fonts/StyreneAWeb-Medium.woff2') format('woff2'),
        url('assests/fonts/StyreneAWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }


.app {
    background: #ECEFF4;
    height: 100vh;
    width: 100vw;
    padding: 60px;
    font-family: "Styrene A Web";
}

h1 {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 20px;
}

p {
    margin-top: 8px;
    opacity: 0.6;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.radio-btn {
    margin-top: 16px;
    font-size: 12px;
}

.radio-btn__option {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    height: 64px;
    width: 400px;
    padding: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 24px;
    box-shadow: -1px -1px 2px rgba(222,225,229, 0.5) inset, 1px 1px 2px rgba(250,253,255, 0.3) inset, 12px 12px 30px rgba(222,225,229, 0.9), -12px -12px 24px rgba(250,253,255, 0.9), 12px -12px 24px rgba(222,225,229, 0.2), -12px 12px 24px rgba(222,225,229, 0.2);
}

.radio-btn__option:focus-within {
    outline-color: black;
}


.radio-btn__outer-ring {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: black;
}

.radio-btn__input {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.radio-button {
    width: 18px;
    height: 18px;
    background-color: #ECEFF4;
}

input[type="radio"] {
    appearance: none;
    background-color: #ECEFF4;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 18px;
    height: 18px;
    border: 1.5px solid currentColor;
    border-radius: 50%;
}

input[type="radio"] {
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}